[core]
        editor = nvim
		autocrlt = input
[user]
        name = shuaikai
        email = wddjwk@qq.com
[init]
        defaultBranch = main
; [url "https://gitclone.com/"]
;         insteadOf = https://
[pull]
	rebase = false
[diff]
	tool = vimdiff
[credential]
	helper = store
