[core]
        editor = nvim
		autocrlt = input
[user]
        name = shuaikai
        email = wddjwk@qq.com
[init]
        defaultBranch = main
[credential "helperselector"]
        selected = manager
; [url "https://gitclone.com/"]
;         insteadOf = https://
