[core]
        editor = vim
		autocrlf = true
[user]
        name = wddjwk
        email = wddjwk@qq.com
[init]
        defaultBranch = main
[credential "helperselector"]
        selected = manager
; [url "https://gitclone.com/"]
;         insteadOf = https://
